@import '~@angular/material/theming';

:host {
  display: block;
  padding: 0.75rem;
}

.filter-row {
  display: flex;

  .mat-form-field {
    margin-right: 0.75rem;
  }

  @media ($mat-xsmall) {
    flex-direction: column;

    .mat-form-field {
      margin-right: 0;
    }
  }
}

.claims-grid {
  display: grid;

  gap: 0.75rem;
  grid-template-columns: repeat(3, 1fr);

  @media ($mat-small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media ($mat-xsmall) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.claim-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 10rem;

  .mat-card-content {
    margin: 0;
    overflow-y: auto;
  }
  .mat-card-actions {
    text-align: right;
  }
}

.load-btn {
  margin-top: 0.75rem;
}
