@import '~@angular/material/theming';

:host {
  display: block;
  padding: 12px;
}

.filter-row {
  display: flex;

  .mat-form-field {
    margin-right: 12px;
  }

  @media ($mat-xsmall) {
    flex-direction: column;

    .mat-form-field {
      margin-right: 0;
    }
  }
}

.claims-grid {
  display: grid;

  gap: 12px;
  grid-template-columns: repeat(3, 1fr);

  @media ($mat-small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media ($mat-xsmall) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.claim-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 150px;

  .mat-card-content {
    margin: 0;
    overflow-y: auto;
  }
  .mat-card-actions {
    text-align: right;
  }
}

.claim-card {
  border-bottom-style: solid;

  &.claim_false {
    border-color: #ef5350;
  }
  &.claim_mostly_false,
  &.claim_half_true,
  &.claim_mostly_true {
    border-color: #ffa726;
  }
  &.claim_true {
    border-color: #66bb6a;
  }
}

app-page-spinner,
.load-btn {
  margin-top: 12px;
}
