<div class="filter-row">
    <mat-form-field>
        <mat-label>Truthfulness</mat-label>
        <mat-select value="{{truthfulnessFilter$.value}}" (valueChange)="truthfulnessFilter$.next($event)">
            <mat-option value="">Any</mat-option>
            <mat-option value="unverified">{{'unverified' | truthfulness}}</mat-option>
            <mat-option value="false">{{'false' | truthfulness}}</mat-option>
            <mat-option value="mostly_false">{{'mostly_false' | truthfulness}}</mat-option>
            <mat-option value="half_true">{{'half_true' | truthfulness}}</mat-option>
            <mat-option value="mostly_true">{{'mostly_true' | truthfulness}}</mat-option>
            <mat-option value="true">{{'true' | truthfulness}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Country</mat-label>
        <mat-select value="{{countryFilter$.value}}" (valueChange)="countryFilter$.next($event)">
            <mat-option value="">Any</mat-option>
            <mat-option value="US">United States</mat-option>
            <mat-option value="AU">Australia</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<ng-container *ngIf="claims$ | async as claims; else loading">
    <div *ngIf="claims.length > 0; else placeholder" class="claims-grid">
        <mat-card *ngFor="let claim of claims">
            <mat-card-content>
                <p>{{claim.content}}</p>
            </mat-card-content>
            <mat-card-actions>
                <a routerLink="/claims/{{claim.id}}" mat-button>Review</a>
            </mat-card-actions>
        </mat-card>
    </div>
    <ng-template #placeholder>
        <h3 class="text-center">There's nothing to see here.</h3>
    </ng-template>
</ng-container>

<ng-template #loading>
    <app-page-spinner></app-page-spinner>
</ng-template>