@import '~@angular/material/theming';

:host {
  display: block;
  padding: 12px;
}

.return-btn {
  margin-bottom: 12px;
}

.claim-wrapper {
  display: grid;
  gap: 12px;
  grid-template-columns: 2fr 1fr;

  @media ($mat-small) {
    grid-template-columns: 1fr 1fr;
  }

  @media ($mat-xsmall) {
    grid-template-columns: 1fr;
  }

  > * {
    // Force grid item width to not go beyond the defined.
    min-width: 0;

    height: max-content;
  }
}

.edit-btn {
  position: absolute;
  top: -25px;
  right: 10px;
}

.charts-container {
  width: 100%;
  max-width: 100%;

  > * {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}
