<a class="return-btn" routerLink="/claims" mat-stroked-button>
    <mat-icon>arrow_back</mat-icon>
    <span>Return to Claims</span>
</a>

<div *ngIf="claim$ | async as claim; else loading" class="claim-wrapper">
    <mat-card>
        <mat-card-content>
            <p>{{claim.content}}</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <p>Date Added: {{claim.dateAdded.toDate() | date}}</p>
        <p>Truthfulness: {{claim.truthfulness}}</p>
        <p>Hits: {{claim.hitCount}}</p>
    </mat-card>
</div>

<ng-template #loading>
    <app-page-spinner></app-page-spinner>
</ng-template>