<mat-card [ngSwitch]="state">
    <form *ngIf="state === 'waiting' || state === 'sending_email'" [formGroup]="form" (ngSubmit)="sendSignInEmail()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" autocomplete="email" required matInput>
            <mat-error *ngIf="form.hasError('required', 'email') || form.hasError('email', 'email')">
                Please enter a valid email.
            </mat-error>
        </mat-form-field>
        <button color="primary" mat-raised-button>Sign in with Email</button>
    </form>
    <div class="loading-shade" *ngSwitchCase="'sending_email'">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
    <ng-container *ngSwitchCase="'sent_email'">
        <h1>Email sent!</h1>
        <p>Check your email for the link to sign in.</p>
    </ng-container>
</mat-card>