/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  color: #fff;
}

[mat-button],
[mat-raised-button],
[mat-stroked-button] {
  text-transform: uppercase;

  .mat-icon {
    margin-right: 0.2rem;
  }
}

.mat-dialog-actions {
  justify-content: end;
}

// Hack to fix suffix in mat-form-field alignment.
.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0.7em !important;
}

.text-center {
  text-align: center;
}
