<app-loading-shade *ngIf="updating"></app-loading-shade>

<div class="claim-details">
    <p>Date Added: {{claim.dateAdded.toDate() | date}}</p>
    <p>Hits: {{claim.hitCount}}</p>
    <mat-divider></mat-divider>
    <p [innerHTML]="claim.content"></p>
</div>

<form class="claim-form" [formGroup]="form">
    <mat-form-field>
        <mat-label>Truthfulness</mat-label>
        <mat-select formControlName="truthfulness" required>
            <mat-option value="unverified">{{'unverified' | truthfulness}}</mat-option>
            <mat-option value="false">{{'false' | truthfulness}}</mat-option>
            <mat-option value="mostly_false">{{'mostly_false' | truthfulness}}</mat-option>
            <mat-option value="half_true">{{'half_true' | truthfulness}}</mat-option>
            <mat-option value="mostly_true">{{'mostly_true' | truthfulness}}</mat-option>
            <mat-option value="true">{{'true' | truthfulness}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="links-header">
        <p>Fact Checker Links</p>
        <button (click)="addLink()" mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-list>
        <mat-form-field *ngFor="let linkControl of factCheckerLinksFormArray.controls; index as i;">
            <input type="url" [formControl]="linkControl" required matInput>
            <button (click)="factCheckerLinksFormArray.removeAt(i)" mat-icon-button matSuffix>
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-list>

    <div mat-dialog-actions>
        <button type="button" mat-dialog-close mat-button>Cancel</button>
        <button (click)="updateClaim()" [disabled]="form.invalid" mat-dialog-close="form.value"
            mat-button>Update</button>
    </div>
</form>