@import '~@angular/material/theming';

:host {
  display: flex;
  gap: 0.75rem;

  @media ($mat-xsmall), ($mat-small) {
    flex-direction: column;
  }
}

.claim-details {
  flex: 2;

  .mat-divider {
    margin-bottom: 0.75rem;
  }
}

.claim-form {
  flex: 1;

  > *,
  .mat-list > * {
    width: 100%;
  }
}

.links-header {
  display: flex;
  justify-content: space-between;

  p {
    margin: auto 0;
  }
}
